<div class="container well formborderUser">
  <div class="form_title">
    <h1><i class="fa fa-user"></i> Mis Datos Personales N°<%=current_user.id%> </h1>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div style="text-align:center;">
        <%=image_tag @user.cover.url(:mini)%>
      </div>
      <h2 class="animated rubberBand"><i class="fa fa-user"></i><%= current_user.name%> <%= current_user.rut%></h2>
        <h2 class="animated rubberBand"><i class="fa fa-envelope"></i> <%= current_user.email%></h2>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <h2 class="animated rubberBand"><i class="fa fa-mobile"></i> <%= current_user.phone_number%></h2>
      <h2 class="animated rubberBand"><i class="fa fa-home"></i> <%= current_user.address%></h2>
      <h2 class="animated rubberBand"><i class="fa fa-users"></i> Grupo <%= current_user.group_id%></h2>
      <h2 class="animated rubberBand"><i class="fa fa-university"></i><%= current_user.universidad%></h2>
      <h2 class="animated rubberBand"><i class="fa fa-graduation-cap"></i> <%= current_user.carrera%></h2>
      <h2 class="animated rubberBand"><i class="fa fa-birthday-cake"></i> <%= current_user.diacumpleaños%>/<%= current_user.mescumpleaños%></h2>
    </div>
  </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <%= f.label :email, 'Email' %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :phone_number, 'Telefono' %><br />
        <%= f.text_field :phone_number, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :address, 'Dirección' %><br />
        <%= f.text_field :address, class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password , 'Contraseña' %> <i>(Dejar en blanco si no desea cambiarlo)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirmar Contraseña' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password, 'Contraseña Actual' %> <i>(Contraseña actual para confirmar los cambios)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Actualizar", class: "btn btn-success" %>
  </div>
  <%end%>
  <%= link_to " ",root_path,class:"fa fa-arrow-circle-left",style:"font-size:50px;color:blue;" %>
</div>