<%= form_for(@turn) do |f| %>
  <% if @turn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@turn.errors.count, "error") %> prohibited this turn from being saved:</h2>

      <ul>
      <% @turn.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :dia,'Día' %><br>
    <%= f.text_field :dia,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :numdia,'Numero' %><br>
    <%= f.number_field :numdia, min:"1",max:"31",class:"form-control" %>
  </div>


  <div class="form-group">
    <%= f.label :horainicio,'Hora Inicio' %><br>
    <%= f.text_field :horainicio,class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :horatermino,'Hora Término' %><br>
    <%= f.text_field :horatermino,class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
