

<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Release Date</Data></Cell>
        <Cell><Data ss:Type="String">Price</Data></Cell>
      </Row>
    <% @turns.each do |turn| %>
      <Row>
        <Cell><Data ss:Type="Día"><%= turn.dia %></Data></Cell>
        <Cell><Data ss:Type="Hora Inicio"><%= turn.horainicio %></Data></Cell>
        <Cell><Data ss:Type="Hora Término"><%= turn.horatermino %></Data></Cell>
        <Cell><Data ss:Type="Empaque"><%= User.find(turn.user_id).name %></Data>
        <Cell><Data ss:Type="N°"><%= turn.user_id %></Data></Cell></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

